In [1]:
# importing of libraries
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import os,sys
sys.path.append(os.path.abspath(os.path.join('..')))
from scripts.eda import EDA
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.mode.chained_assignment = None  # default='warn'
plt.rcParams["figure.figsize"] = (12, 8)
pd.set_option('display.max_columns', None)

In [8]:
# initializing the dataset
df = pd.read_csv("../data/ABtwoCampaignEngView.csv",index_col=False)

In [9]:
df.head(3)

,Unnamed: 0,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,1333639,8ec30aff-2332-4a1f-9330-b93abb32bc94,control,<built-in method date of Timestamp object at 0...,15,LG,156,6,0.000,0.000
1,730667,4e1bcb56-357c-4186-9d39-3be82e3519f1,control,<built-in method date of Timestamp object at 0...,7,Samsung,162,6,0.000,0.000
2,2069787,dd6ec327-fcfd-4a80-89c0-dccd3dd80f09,control,<built-in method date of Timestamp object at 0...,14,Apple,178,15,0.000,0.000

In [10]:
eda = EDA(df)

In [11]:
# find simple descriptions of the data
eda.descriptive_stats(describe=True)

       Unnamed: 0       hour  platform_os    browser        yes         no
count  912712.000 912712.000   912712.000 912712.000 912712.000 912712.000
mean  1196268.342     10.648      127.813      8.211      0.102      0.019
std    690051.116      7.373       32.218      3.537      0.302      0.138
min         1.000      0.000      101.000      1.000      0.000      0.000
25%    598919.750      4.000      101.000      6.000      0.000      0.000
50%   1196384.000     10.000      101.000      7.000      0.000      0.000
75%   1793651.500     17.000      162.000      7.000      0.000      0.000
max   2391777.000     23.000      181.000     15.000      1.000      1.000