# Predictions
Prediction of sales is the central task in this challenge. you want to predict daily sales in various stores up to 6 weeks ahead of time. This will help the company plan ahead of time. 

The following steps outline the various sub tasks needed to effectively do this:

In [1]:
# importing of libraries
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import seaborn as sns
import os,sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from timeseries import TimeSeries
from clean import Clean
sns.set()
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.mode.chained_assignment = None  # default='warn'
plt.rcParams["figure.figsize"] = (12, 8)
pd.set_option('display.max_columns', None)

/home/martin/Documents/pharm_sales/notebooks

# Preprocessing
It is important to process the data into a format where it can be fed to a machine learning model. This typically means converting all non-numeric columns to numeric, handling NaN values and generating new features from already existing features. 

In our case, you have a few datetime columns to preprocess. you can extract the following from them:
weekdays
weekends 
number of days to holidays
Number of days after holiday
Beginning of month, mid month and ending of month
(think of more features to extract), extra marks for it
            
As a final thing, you have to scale the data. This helps with predictions especially when using machine learning algorithms that use Euclidean distances. you can use the standard scaler in sklearn for this.

In [2]:
store = pd.read_csv("../data/store.csv")
df = pd.read_csv("../data/train.csv")
clean_df = Clean(df)
clean_df.merge_df(store,'Store')
clean_df.save(name='../data/unclean_train.csv')
clean_df.drop_missing_values()
clean_df.fix_outliers('Sales',25000)
clean_df.remove_unnamed_cols()
clean_df.transfrom_time_series("Store","Date")
clean_df.save(name="../data/training.csv")

/tmp/ipykernel_9437/2395586539.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/train.csv")
2022-05-24 16:40:56,988:logger:Successfully initialized clean class
2022-05-24 16:40:57,525:logger:Successfully merged the dataframe
2022-05-24 16:41:06,975:logger:Successfully saved the dataframe
2022-05-24 16:41:08,561:logger:Successfully dropped the columns with missing values
2022-05-24 16:41:08,563:logger:Successfully stored the features
2022-05-24 16:41:08,682:logger:Successfully handled outliers
2022-05-24 16:41:08,746:logger:Successfully removed columns with head unnamed
2022-05-24 16:41:09,460:logger:Successfully transformed data to time series data
2022-05-24 16:41:17,356:logger:Successfully saved the dataframe

In [3]:
df = pd.read_csv("../data/test.csv")
clean_df = Clean(df)
clean_df.merge_df(store,'Store')
clean_df.save(name='../data/unclean_test.csv')
clean_df.drop_missing_values()
clean_df.fix_outliers('Sales',25000)
clean_df.remove_unnamed_cols()
clean_df.transfrom_time_series("Store","Date")
clean_df.get_df().drop('Id',axis=1,inplace=True)
clean_df.save(name="../data/testing.csv")

2022-05-24 16:41:17,441:logger:Successfully initialized clean class
2022-05-24 16:41:17,477:logger:Successfully merged the dataframe
2022-05-24 16:41:17,926:logger:Successfully saved the dataframe
2022-05-24 16:41:17,984:logger:Successfully dropped the columns with missing values
2022-05-24 16:41:17,986:logger:Successfully stored the features
2022-05-24 16:41:17,990:logger:Successfully handled outliers
2022-05-24 16:41:17,995:logger:Successfully removed columns with head unnamed
2022-05-24 16:41:18,067:logger:Successfully transformed data to time series data
2022-05-24 16:41:18,414:logger:Successfully saved the dataframe

Feature Engineering

Label Encoding

In [14]:
train = pd.read_csv("../data/training.csv")
test = pd.read_csv("../data/testing.csv")
clean_df.label_encoding(train,test)

2022-05-24 16:52:58,869:logger:Successfully stored the features
2022-05-24 16:52:59,503:logger:Successfully encoded your categorical data

Scaling Data

In [19]:
training_data_ = train[train.columns.difference(['DayOfWeek','Day', 'Month', 'Year', 'DayOfYear','WeekOfYear'])]
testing_data_ = test[test.columns.difference(['DayOfWeek','Day', 'Month', 'Year', 'DayOfYear','WeekOfYear'])]

In [21]:
train_transformation=clean_df.generate_transformation(training_data_,"numeric","number")
test_transformation=clean_df.generate_transformation(testing_data_,"numeric","number")

2022-05-24 16:56:55,092:logger:Successfully transformed numerical data
2022-05-24 16:56:55,116:logger:Successfully transformed numerical data

In [32]:
indexes = ['DayOfWeek','Day', 'Month', 'Year', 'DayOfYear','WeekOfYear']
train_transformed = pd.DataFrame(train_transformation,columns=train.columns.difference(indexes))
test_transformed = pd.DataFrame(test_transformation,columns=test.columns.difference(indexes))
train_index = train[indexes]
test_index = test[indexes]
train = pd.concat([train_index,train_transformed],axis=1)
test = pd.concat([test_index,test_transformed],axis=1)

In [33]:
train.head()

,DayOfWeek,Day,Month,Year,DayOfYear,WeekOfYear,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Customers,Open,Promo,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Sales,SchoolHoliday,StateHoliday,Store,StoreType
0,2.000,1.000,1.000,2013.000,1.000,1.000,0.000,0.020,0.909,0.930,0.000,0.000,0.000,0.000,0.255,0.167,0.000,0.000,1.000,0.000,0.000,0.000
1,3.000,2.000,1.000,2013.000,2.000,1.000,0.000,0.020,0.909,0.930,0.203,1.000,0.000,0.000,0.255,0.167,0.000,0.177,1.000,0.333,0.000,0.000
2,4.000,3.000,1.000,2013.000,3.000,1.000,0.000,0.020,0.909,0.930,0.173,1.000,0.000,0.000,0.255,0.167,0.000,0.166,1.000,0.333,0.000,0.000
3,5.000,4.000,1.000,2013.000,4.000,1.000,0.000,0.020,0.909,0.930,0.179,1.000,0.000,0.000,0.255,0.167,0.000,0.180,1.000,0.333,0.000,0.000
4,6.000,5.000,1.000,2013.000,5.000,1.000,0.000,0.020,0.909,0.930,0.101,1.000,0.000,0.000,0.255,0.167,0.000,0.094,0.000,0.333,0.000,0.000

0        0.167
1        0.333
2        0.500
3        0.667
4        0.833
          ...
324270   0.000
324271   0.167
324272   0.333
324273   0.500
324274   0.667
Name: DayOfWeek, Length: 324275, dtype: float64